@{
     ViewBag.Title = "Home Page";
}

<div class="jumbotron">
     <h1>Codes Table Sample Application</h1>
     <p class="lead">Illustrates the use of a generic codes table for storing common attribute values such as types (e.g. Project Type, Product size, etc.).</p>
</div>
