
@model CodesTable.Models.CodeView
@{
     ViewBag.Title = "Create Code";
}

<div class="row">
     <div class="col-md-12">
          <h4>@ViewData["Title"]</h4>
     </div>
</div>
<div class="row">
     <div class="col-md-12">
          <partial name="_PartialUpdateForm" />
     </div>
</div>
