<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>@ViewData["Title"] - CodesTable</title>
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" disabled="false">
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css" disable="true" />
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link rel="stylesheet" type="text/css" href="/css/turbotables.css" />
     <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
     <header>
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
               <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodesTable</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                         <ul class="navbar-nav flex-grow-1">
                              <li class="nav-item">
                                   <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-light" asp-area="" asp-controller="Code" asp-action="Index">Code</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link text-light" asp-area="" asp-controller="Project" asp-action="Index">Project</a>
                              </li>
                         </ul>
                    </div>
               </div>
          </nav>
     </header>
     <div class="container">
          <main role="main" class="pb-3">
               @RenderBody()
          </main>
     </div>

     <div class="container">
          <div class="col-md-12 col-xs-12 text-center">
               <hr />
               <footer>
                    <p>Copyright &copy; 2020 - Seagull Consulting, Inc.</p>
               </footer>
          </div>
     </div>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <script src="~/js/site.js" asp-append-version="true"></script>
     @RenderSection("Scripts", required: false)
</body>
</html>
